<header class="container">
  <h1>
    <img src="assets/logo.png" (click)="goHome()" alt="Utopian Marathon '26" class="header-logo" />
    Utopian Marathon'26 
  </h1>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a id="inspectLogs" (click)="inspectLogs()">Inspect transaction logs</a>
    </button>
    <button mat-menu-item>
      <a id="customScheme" (click)="changeCustomScheme()"
        >Change default scheme</a
      >
    </button>
    <button mat-menu-item>
      <a id="issuerChain" (click)="changeIssuerChain()"
        >Configure issuer chain</a
      >
    </button>
  </mat-menu>
</header>
