
<h3>EUDI-Compatible Registration</h3>
<p>We <mark>need some credentials</mark> for your registration.</p>
<p>You must use your <mark>EUDI-compatible wallet</mark> with the credentials provided by your <a href="https://issuer.pbest.eu">sports federation</a> to provide the registration data and to prove you are allow to take part in the competition.</p>
<p>You only need:</p>
<ul>
  <li>A <mark>valid athlete license</mark></li>
  <li>Attestation of <mark>qualification</mark> to participate in this competition</li>
  <li><mark>Self-declaration of health</mark> condition</li>
</ul>
