
<h3>EUDI-Compatible Registration</h3>
<p>We <strong>need some credentials</strong> for your registration.</p>
<p>You must use your <strong>EUDI-compatible wallet</strong> with the credentials provided by your <a href="https://issuer.pbest.eu">sports federation</a> to provide the registration data and to prove you are allow to take part in the competition.</p>
<p>You only need:</p>
<ul>
  <li>A <strong>valid athlete license</strong></li>
  <li>Attestation of <strong>qualification</strong> to participate in this competition</li>
  <li><strong>Self-declaration of health</strong> condition</li>
</ul>
